.pass{
    height: 100vh;
    /* width: 100%; */
    justify-content: center;
    align-items: center;
}

.btn-outline-primary{
    border-color: #007bff;
    border-radius: 5px;
    color: #007bff;
    background-color: transparent;
    transition: all 0.3s ease;
}

.img-container{

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comp{
    height: 100vh;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
